[Desktop Entry]
Version=1.0
Type=Application
Name=Slack
StartupWMClass=Slack
Comment=Slack Desktop
GenericName=Slack Client for Linux
Exec=/home/alitoh/.local/bin/slack %U
Icon=/home/alitoh/.local/opt/slack/slack.png
Terminal=false
StartupNotify=true
Categories=GNOME;GTK;Network;InstantMessaging;
MimeType=x-scheme-handler/slack;